html {
    font-size: 14px;
}

#home-page {

    background-color: beige;
    font-size: 5rem;
}

#intro {
    font-size: 1.5rem;
}

#home-page li {
    font-size: 1.2rem;
}

#errorMessage {
    font-size: 2rem;
    color: red;
    font-weight: bold;
}
