<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Add Pokemon</title>


</head>

<body>
	<h1>Add Pokemon</h1>

	<form id = "reviewForm" method="post" action="http://localhost:5000/processAdd">
		<fieldset>
            
			<label><strong>Pokemon: </strong><input type="text" name="name"/></label>
			<label><strong>Custom Name: </strong><input type="text" name="custom"/></label>
			<label><strong>Shiny:</strong> <input type="checkbox" name="shiny"></label><br><br>
			<label><strong>Level:</strong><input type="number" name="GPA" min = 1 max = 100></label><br><br>
		</fieldset>

		<br>
		<input type="reset" />
		<input type="submit" value="Add Pokemon"/>
	</form>

	<hr>
	<a href = "/">Menu</a>

	<script>
		window.onsubmit = main;

		function main(){
			return confirm("Are you sure you want to put send this Pokemon to Professor Oaks? You will not be able to retrieve it later.");
		}
	</script>
</body>

</html>
