<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Displaying Pokemon</title>
</head>

<body>
	<h1>Pokemon Data</h1>
	<div>
        <%- table %>
	</div>

    <hr><a href = "/">Menu</a>
</body>