<!doctype html>
<html lang = "en">

<head>
    <meta charset = "utf-8"/>
    <title>Storage</title>
    <link rel="stylesheet" href = "style.css">

</head>

<body>
    <h1>Pokemon Storage</h1>

    <p>
        With the overwhelming nature of playing Pokemon, we give you an easy way to keep track of the Pokemon
        that you have without needing to find a storage box every time! 

        <ul>
            <li>To add: <a href = "/add">Add Pokemon Here</a></li>
            <li>To see your box:<a href = "/viewBox">View Box Here</a></li>
        </ul>
        
    </p>
    




</body>







</html>