<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Add Confirmation</title>
</head>

<body>
	<h1>Add Data</h1>
	<div>
		<strong>Pokemon: </strong><%- name %><br>
		<strong>Custom Name: </strong><%- custom %><br>
		<strong>Shiny: </strong><%- shiny %><br>
		<strong>Level:</strong><br>
		<br>
		<hr>
		<strong>Task complete at <%- time %></strong>
		<hr>
		<a href = "/">Menu</a>
	</div>
</body>

</html>
